body {
  background-color: powderblue;
  padding-top: 8rem;
  display: flex;
  justify-content: center;
}

.profile {
  width: 8rem;
  height: 8rem;
  background-image: url("https://i.ibb.co/0QNZmfR/Capture.png");
  background-size: 140px;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transform: translateY(50%);
  transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.profile:hover {
  transform: translateY(50%) scale(1.3);
}

.banner {
  background-image: url("https://i.ibb.co/BqZq5R5/space-pattern.jpg");
  display: flex;
  justify-content: center;
}

.card {
  background-color: #fff;
  max-width: 360px;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.5);
}

.name {
  text-align: center;
  padding-top: 60px;
  font-size: x-large;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.follow-btn {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.follow-btn button {
  font-size: medium;
  font-weight: bold;
  background-color: #027ab0;
  border: none;
  padding: 1rem;
  outline: none;
  border-radius: 50px;
  transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.follow-btn button:hover {
  background-color: #0688c4;
  transform: scale(1.1);
}

.desc {
  padding: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
